ul.anime-carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

ul.anime-carousel li {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

