.header {

}

.header ul.main-header-buttons {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 0;
    padding: 0 30px;

}

.header ul.main-header-buttons li {

    align-items: center;
    display: flex;
    cursor: pointer;
    flex-basis: 5%;
    height: 40px;
    justify-content: center;

}